<div id="perspective" class="perspective effect-airbnb">
  <div class="cont">
    <div class="wrapper"><!-- wrapper needed for scroll -->
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div><!-- wrapper -->
  </div><!-- /cont -->
  <nav class="outer-nav left vertical">
    <a routerLink="/main/test2" class="icon-home my-ank">Home</a>
    <a href="#" class="icon-news my-ank">News</a>
    <a href="#" class="icon-image my-ank">Images</a>
    <a href="#" class="icon-upload my-ank">Uploads</a>
    <a href="#" class="icon-star my-ank">Favorites</a>
    <a href="#" class="icon-mail my-ank">Messages</a>
    <a href="#" class="icon-lock my-ank">Security</a>
  </nav>
</div><!-- /perspective -->

